<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Keep our cities clean</title>
</head>
<body>
        <div class="header">Welcome to Trash Panda Cleanup</div>
        <p></p>
        <div class="gridbox">
                <app-menu></app-menu>
        </div>
</body>
</html>




